<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>ArduinoX Settings</comment>
<entry key="ARDUINO_IDE_PATH">C:\Users\josh\Downloads\arduino-1.0.1-windows\arduino-1.0.1</entry>
<entry key="RECENT_SKETCHES">C:\Users\josh\My Documents\Arduino\Blink,C:\Users\josh\My Documents\Arduino\Blink,</entry>
</properties>
